<br>
<br>
<p><%= @shop.name %>へのご意見をお聞かせください</p>
<br>
<br>

<label for="reviewer_name">氏名</label>
<input type="text" name="name" >

<br>

<label for="reviewer_email">メールアドレス</label>
<input type="text" name="email" >

<br>

<label for="reviewer_content">ご意見</label>
<br>
<textarea name="content"  cols="30" rows="10"></textarea>



  


